.text {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 20px;
}
.img-container img {
  width: 600px;
  margin-left: 240px;
}

.color {
  color: orange;
}
.image {
  display: flex;
  justify-content: space-between;
  margin-left: 134px;
}
/* .img {
  margin-top: 20px;
} */
.text-info {
  color: gray;
  font-size: 26px;
  margin-top: 10px;
  margin-left: 80px;
}
.header {
  margin-left: 80px;
}
.text-style {
  color: orange;
}
.btn {
  background-color: orange;
  color: white;
  border: none;
  font-size: 17px;
  padding: 16px;
  margin: 16px;
  border-radius: 5px;
  margin-left: 80px;
}
.btn:hover {
  color: black;
  background-color: rgba(255, 68, 0, 0.729);
}
