.special-place {
  background-color: #0f0e17;
  padding: 50px 0;
}
.text-content {
  font-weight: bold;
  text-align: justify;
}
p {
  text-align: justify;
}
.color-text {
  color: green;
}
.button-style {
  margin: 15px 0;
  padding: 15px 30px;
  color: black;
  font-weight: 500;
  background-color: greenyellow;
  border: 2px solid #055258;
  border-radius: 10px;
}
.button-style:hover {
  background-color: green;
  color: white;
}
.special-place img {
  margin-top: 15px;
}
